*{
  margin:0; 
  padding:0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#69a5c7,#1f3f52);
  padding: 10px;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 30px;
  border-radius: 10px;
}

.todo-app h2{
  color: #002765;
  display:flex;
  align-items: center;
  margin-bottom: 20px;

}

.row{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex:1;
  border:none;
  outline:none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}

#adicionar{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #4984a7;
  color:#fff;
  font-size: 14px;
  cursor:pointer;
  border-radius: 40px;;
}

#adicionar:hover {
  background: #267285;
}

ul {
  list-style: none;
  font-size: 17px;
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: pointer;
}
li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;

}

li.concluida span {
  text-decoration: line-through;
  color: #888;
}

li button {
  margin-left: 5px;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

li input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
  }
  li span {
    flex: 1;
  }

.custom-checkbox {
  display: none;
}

.checkbox-label {
  width: 20px;
  height: 20px;
  border: 2px solid #4984a7;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.custom-checkbox:checked + .checkbox-label::after {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 14px;
  color: white;
}

.custom-checkbox:checked + .checkbox-label {
  background-color: #4984a7;
  border-color: #4984a7;
}

.btn-remover {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

#contador{
  margin-bottom: 20px;
}

